@import "font.css";

/* header */
.header{
    z-index: 1;
}

.header-logo .logo-part{
    font-family: "Sf Pro Display Semi Bold";
    font-size: 48px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.header-logo .logo-part-1{
    color: steelblue;
}

.header-logo .logo-part-2{
    color: crimson;
}

.header-logo .logo{
    height: 48px;
    display: inline-block;
    margin-right: 10px;
}

.vertical-wrapper.block-nav-category .block-title .text-title{
    font-family: sans-serif;
}
/** header */

/* banner-wrapper */
.banner-wrapper.has_background img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.banner-wrapper-inner.light h1,
.banner-wrapper-inner.light .trail-item{
    color: #ffffff;
}

.banner-wrapper-inner.light .trail-item.active{
    color: silver;
}

.banner-wrapper-inner.light .breadcrumbs .breadcrumb li a:not(:hover) {
    color: #ffffff;
}

.banner-wrapper-inner.light  .breadcrumbs .breadcrumb li + li::before{
    color: #f3f3f3;
}
/** banner-wrapper */